/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


  @font-face {
    font-family: "SaudiaRegular";
    src: url("assets/fonts/SaudiaTextWeb-Regular.ttf");
    }
    @font-face {
      font-family: "SaudiaArabicLight";
      src: url("assets/fonts/SaudiaTextArabic-Light.ttf");
      }
    
    html {
      font-size: 62.5%;
      --ion-font-family: "SaudiaRegular";
    }
    body{
      font-family:"SaudiaRegular", Arial, Helvetica, sans-serif;
    }
    ion-button
    {
      --ion-font-family: "SaudiaArabicLight";
    }

      
$darkblue: var(--ion-color-btnbck); 
$lightblue:var(--ion-color-businessBlue); 
$list1: $darkblue, $lightblue;

@mixin gradient($direction, $list) {
  --background: -webkit-linear-gradient($direction, $list);
  --background: -moz-linear-gradient($direction, $list);
  --background: -o-linear-gradient($direction, $list);
  --background: linear-gradient($direction, $list);
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
}

.buttonGradientBlue {
  @include gradient(to right, $list1);
  color: var(--ion-color-white);
  --background-activated: gradient(to right, $list1);
  border: gradient(to right, $list1) !important;
  font-weight: bold;
}

.buttonGradientBlue:hover {
  @include gradient(to right, $list1);
  color: var(--ion-color-white);
  --background-activated: gradient(to right, $list1);
}
    