<ion-content [fullscreen]="true">

  <ion-grid class="holder ion-no-padding" *ngIf="mealEligible">
    <ion-row class="ion-no-padding ion-align-items-center">
      <ion-col class="ion-padding">
        <div class="ion-padding-horizontal innerHolder">
          <div class="ion-padding-horizontal">
            <ion-img class="img33 mrgn50Auto" src="../../assets/images/tickBig.svg"></ion-img>
            <p>This Passenger is eligible to have Meal</p>
          </div>
          <ion-button class="" shape="round" size="large" (click)="confirmMeal()">Confirm Meal</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="holder ion-no-padding" *ngIf="mealInEligible">
    <ion-row class="ion-no-padding ion-align-items-center">
      <ion-col class="ion-padding">
        <div class="ion-padding-horizontal innerHolder">
          <div class="ion-padding-horizontal">
            <ion-img class="img33 mrgn50Auto" src="../../assets/images/cancelBig.svg"></ion-img>
            <p class="danger">This Passenger is not eligible to have any compensations</p>
          </div>
          <ion-button size="large" (click)="goBack()">Back to scan</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="holder ion-no-padding" *ngIf="mealTaken">
    <ion-row class="ion-no-padding ion-align-items-center">
      <ion-col class="ion-padding">
        <div class="ion-padding-horizontal innerHolder">
          <div class="ion-padding-horizontal">
            <ion-img class="img33 mrgn50Auto" src="../../assets/images/cancelBig.svg"></ion-img>
            <p class="danger">This Passenger is not eligible to have any compensations</p>
            <ion-item lines="none">
              <ion-icon src="../../assets/images/tickIndigo.svg" slot="start"></ion-icon>
              Has already taken meal
            </ion-item>
          </div>
          <ion-button size="large" (click)="goBack()">Back to scan</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>














<!-- <ion-grid class="holder ion-no-padding" *ngIf="accommodationEligible">
  <ion-row class="ion-no-padding ion-align-items-center">
    <ion-col class="ion-padding">
      <div class="ion-padding-horizontal innerHolder">
        <div class="ion-padding-horizontal">
          <ion-img class="img33 mrgn50Auto" src="../../assets/images/tickBig.svg"></ion-img>
          <p>This Passenger is eligible to have </p>
          <ion-item lines="none">
            <ion-icon src="../../assets/images/tickIndigo.svg" slot="start"></ion-icon>
            Has already taken meal
          </ion-item>
        </div>
        <ion-button shape="round" size="large" (click)="confirmAccommodation()">Confirm Accommodation</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid> -->



<!-- <ion-grid class="holder ion-no-padding">
    <ion-row class="ion-no-padding ion-align-items-center">
      <ion-col class="ion-padding">
        <div class="ion-padding-horizontal innerHolder">
          <div class="ion-padding-horizontal">
            <ion-img class="img33 mrgn50Auto" *ngIf="!mealConfirm" src="../../assets/images/cancelBig.svg"></ion-img>
            <ion-img class="img33 mrgn50Auto" *ngIf="mealConfirm" src="../../assets/images/tickBig.svg"></ion-img>
            <p class="danger dispNone">This Passenger is not eligible to have any compensations</p>
            <p *ngIf="!mealConfirm"> This Passenger is not eligible to have</p>
            <p *ngIf="mealConfirm">This Passenger is eligible to have </p>
            <ion-item lines="none">
              <p class="bold ion-padding-horizontal greyOpaque dispNone">Meal</p>
            </ion-item>
            <ion-item lines="none">
              <p class="bold ion-padding-horizontal indigo" *ngIf="mealConfirm">Meal</p>
            </ion-item>
            <ion-item lines="none" class="dispNone">
              <ion-icon src="../../assets/images/tickIndigo.svg" slot="start"></ion-icon>Has already taken meal
            </ion-item>
          </div>
          <ion-button class="dispNone" size="large">Back to scan</ion-button>
          <ion-button class="" shape="round" size="large" *ngIf="mealConfirm">Confirm Meal</ion-button>
          <ion-button class="dispNone" shape="round" size="large">Confirm Accommodation</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->